
<h1>Users Book</h1>
<div id="book-container">
    
</div>
<ul>
        {{#each userData}}
            <li>{{username}}</li>
            <li>{{password}}</li>
            {{#each books}}
                <li>Books: {{title}}, by {{author}}</li>
            <h2>Notes:</h2>
            <ul>
            {{#each notes}}
                <li>{{this}}</li>
            {{/each}}
            </ul>
            {{/each}}
        {{/each}}
    </ul>

<!--
<form id="imageUpload" action="books/upload" method="post" enctype="multipart/form-data">
    <label for="image">Upload Image</label>
    <input type="file" id="image" name="image" value="" required />
    <button type="submit">Submit</button>
</form>
-->
<form id="imageUpload">
    <label for="image">Upload Image</label>
    <input type="file" id="image" name="image" value="" required />
    <button type="submit">Submit</button>
</form>

<script>
    const form = document.getElementById("imageUpload");

    form.addEventListener("submit", submitForm);

    function submitForm(e) {
        e.preventDefault();
        
        const file = document.getElementById("image");
        const formData = new FormData();
        console.log("HERE");
        formData.append("name", "KEVIN");
        formData.append("image", file.files[0]);
        console.log("HERE");
        
        /*
        fetch("http://localhost:3000/books/upload", {
            method: 'POST',
            body: formData
        })
            .then((res) => console.log(res))
            .catch((err) => console.log("Error occured", err));
        */
        fetch("http://localhost:3000/api/booksAPI/addBookImage", {
            method: 'POST',
            body: formData
        })
            .then((res) => console.log(res))
            .catch((err) => console.log("Error occured", err));
    }
</script>
