<h1>My Book</h1>
<div class="book-container">  
        {{#each userData}}
            {{#each books}}
                {{#if (eq title "Default Title")}}
                {{else}} 
                    <div class="book">
                    <p class="book-title">{{title}}</p>
                    <img src="{{image}}" alt="{{title}}">
                    <p class="book-author">By {{author}}</p>
                    </div>
                {{/if}}             
            {{/each}}
        {{/each}}
        <div class="add-book">
        <img src="uploads/default/addbook.png">
        </div>      
</div>
<!--
<form id="imageUpload" action="books/upload" method="post" enctype="multipart/form-data">
    <label for="image">Upload Image</label>
    <input type="file" id="image" name="image" value="" required />
    <button type="submit">Submit</button>
</form>
-->
<form id="imageUpload">
    <label for="image">Upload Image</label>
    <input type="file" id="image" name="image" value="" required />
    <label for="bookTitle">Book Title</label>
    <input type="text" id="bookTitle" name="bookTitle" value="" required />
    <button type="submit">Submit</button>
</form>

<script>
    const form = document.getElementById("imageUpload");

    form.addEventListener("submit", submitForm);

    function submitForm(e) {
        e.preventDefault();
        
        const file = document.getElementById("image");
        const bookTitle = document.getElementById("bookTitle");
        const formData = new FormData();
        console.log("HERE");
        //console.log("yo" + "{{userData.[0].username}}")
        formData.append("name", "{{userData.[0].username}}");
        formData.append("bookTitle", bookTitle.value);
        formData.append("image", file.files[0]);
        console.log("HERE");
        console.log(formData);
        
        /*
        fetch("http://localhost:3000/books/upload", {
            method: 'POST',
            body: formData
        })
            .then((res) => console.log(res))
            .catch((err) => console.log("Error occured", err));
        */

        // Send image file to the server
        fetch("http://localhost:3000/api/booksAPI/addBookImage", {
            method: 'POST',
            body: formData
        })
            .then((res) => console.log(res))
            .catch((err) => console.log("Error occured", err));
    }
</script>
