<h1>My Books</h1>
<div class="book-container">  
        {{#each userData}}
            {{#each books}}
                {{#if (eq title "Default Title")}}
                {{else}} 
                    <div class="book">
                        <p class="book-title">{{title}}</p>
                        <div class="image-container" counter="{{@index}}" key="{{image}}">
                            <img src="{{image}}" alt="{{title}}">
                            <div class="button-container">
                                <button class="hover-button notes-btn">Notes</button>
                                <button class="hover-button edit-btn">Edit</button>
                            </div>
                        </div>
                        <p class="book-author">By {{author}}</p>
                    </div>
                {{/if}}             
            {{/each}}
        {{/each}}
        <div class="add-book">
            <img src="uploads/default/addbook.png">                       
        </div>
        <form id="imageUpload" style="display: none;">
            <div id="upload-image">
                <label for="image">Upload Image</label>
                <input type="file" id="image" name="image" value="" required />
            </div>
            <div id="title-label">
                <label for="bookTitle">Book Title: </label>
                <input type="text" id="bookTitle" name="bookTitle" value="" required />
            </div>
            <div id="author-label">
                <label for="bookAuthor">Book Author: </label>
                <input type="text" id="bookAuthor" name="bookAuthor" value="" required />
            </div>
            <div>
                <button id="submitForm" type="submit">Submit</button>
            </div>
        </form>
</div>


<script>
    document.querySelectorAll('.image-container').forEach(container => {
            const id = container.getAttribute('counter');
            const key = container.getAttribute('key');

            // Find buttons inside each image container
            const notesButton = container.querySelector('.notes-btn');
            const editButton = container.querySelector('.edit-btn');
            
            // Add event listener for Edit button
            notesButton.addEventListener('click', async () => {
                console.log(`Notes button clicked for Image ${id}`);
                alert(`Notes Image ${id}`);
                // Add your edit functionality here
                //console.log(key);

                // GET to notes page
                window.location.href = `/notes?id=${id}`;
            });

            // Add event listener for edit button
            editButton.addEventListener('click', () => {
                console.log(`Edit button clicked for Image ${id}`);
                alert(`Deleting Image ${id}`);
                
                // Add edit functionality
            });
        });
</script>

<script>
    const addBook = document.querySelectorAll(".add-book");
    addBook.forEach(book => {
        book.addEventListener("click", () => {
            console.log("CLICKING THE ADD BOOK BUTTON");
            const bookDataForm = document.getElementById("imageUpload");
            
            bookDataForm.style.display = bookDataForm.style.display === "none"  ? "flex" : "none";
        });
    });  
</script>

<script>
    const form = document.getElementById("imageUpload");

    form.addEventListener("submit", submitForm);

    async function submitForm(e) {
        e.preventDefault();
        
        const file = document.getElementById("image");
        const bookTitle = document.getElementById("bookTitle");
        const bookAuthor = document.getElementById("bookAuthor");
        const formData = new FormData();
        console.log("HERE");
        //console.log("yo" + "{{userData.[0].username}}")
        formData.append("name", "{{userData.[0].username}}");
        formData.append("bookTitle", bookTitle.value);
        formData.append("bookAuthor", bookAuthor.value);
        formData.append("image", file.files[0]);
        console.log("HERE");
        console.log(formData);
        

        // Send image file to the server
        await fetch("http://localhost:3000/api/booksAPI/addBookImage", {
            method: 'POST',
            body: formData
        })
            .then((res) => console.log(res))
            .catch((err) => console.log("Error occured", err));
        
        location.reload();
    }
    
    form.reset();
    
</script>
